<section data-ng-controller="ArticlesController" data-ng-init="findMy()">
	<div class="page-header">
		<h1>Articles</h1>
	</div>

	<div class="container-fluid">
	  <div class="row">


  		<!--div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-header" style="background: url('modules/articles/img/TShirt.jpg');background-size: cover;"></div>
					<div class="card-body">
						<img src="modules/articles/img/default_avatar.jpg">
						<div class="name">TShirt</div>
						<div class="description">Logo Superman de couleur bleu, taille S. disjfdsj ijdsijf oidfjdsio isdjfisjdi dsjfodij djfsdisj sdifjsidj difjsodfij sdifjsiodf</div>
						<div class="price-body"><span class="price">50</span><span class="glyphicon glyphicon-euro euro"></span></div>
					</div>
				</div>
			</div-->


			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" data-ng-repeat="article in articles">
				<a data-ng-href="#!/articles/{{article._id}}" style="text-decoration: none;">

				<div class="card">
					<div class="card-header" ng-style="{'background': 'url({{article.img}}) no-repeat', 'background-size': 'cover'}" ></div>
					<div class="card-body">
						<img src="modules/articles/img/default_avatar.jpg">
						<div class="name" data-ng-bind="article.title"></div>
						<div class="description" data-ng-bind="article.content"></div>
						<div class="price-body"><span class="price">50</span><span class="glyphicon glyphicon-euro euro"></span></div>
					</div>
				</div>

			</a>
			</div>



		</div>
	</div>


	<!--div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
			<img data-ng-src="{{article.img}}">
		</a>
	</div-->
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</section>
